*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    background-color: black;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    display: flex;
    margin:1% 2%;
}
h1{
    font-size: 70px;
}
p{
    font-size: 16px;
}
h4{
    font-size: 20px;
    font-weight: 400;
}
h5{
    font-size: 18px;
}
.banner-text{
    color: white;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding: 5%;
}
.banner-image img{
    width: 581px;
    height: 616px;
    margin-top: 5%;
}
.watch{
    color: white;
    width: 187px;
    height: 56px;
    background-color:#DD0000 ;
    border-radius: 5px;
   font-size: 20px;
}

/* Section-2 */
.options{
    width:  252px;
    height: 252px;
   
    border-radius: 10px;
    background-color:#161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15%;
    padding: 30px;
    margin-left: 2%;
    
    
}
.option{
    height: 64px;
    width: 222px;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    text-align: center;   
}
.selected-option{
    height: 64px;
    width: 222px;
    background-color: #DD0000;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    color: white;
}
.blog{
    /* width:  362px;
    height: 312px; */
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    justify-content: center;
    width: 90%;
   
}
.blog img{
    width:  312px;
    height: 175px;
}
.blog-text{
    padding: 5%;
}
.transfer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2%;
}
.section-2{
    margin-top: 10%;
    display: flex;
    column-gap: 2%;
}
.mini-transfer{
     border: 1px solid gray;
    border-radius: 5px;
}
.fa-light{
    color: #161616B2;
}
.fa-clock{
    color:#161616B2,
}
/* Footer */
footer {
    text-align: center;
    padding: 5%;
    background-color:#161616;
    color:white;
    margin-top: 10%;
  }

.footer-text{
    display: flex;
    gap: 2%;
    justify-content: center;
    color:#B9B9B9;
}
.fa-twitter, .fa-facebook ,.fa-youtube{
    color: white;
}

/* small device */

@media only screen and (max-width: 576px){
    main{
        /* margin: 10% 10% 0% 7%; */
    }
   
.top-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* margin: 5%; */
} 
.banner-text{
    text-align: center;
    width: fit-content;
}
.banner-image img{
    width:70%;
    height: fit-content;
    margin-bottom: -5px;
    position:relative;
    left:8%;
}
.section-2{
    display: flex;
    flex-direction: column;
   /* grid-template-columns: repeat(1, 1fr); */
}
.options{
    margin-bottom: 10%;
    margin-left:20%;
    background-color:white;
}
.option{
    border: 1px solid #E8E8E8;
}
.transfer{
    display: flex;
    flex-direction: column;
}
    h1{
        font-size: 22px;
        font-weight: 700;
    }
    main{
        text-align: center;
        
    }
    .footer-text{
        flex-direction: column;
    } 
}
.flags{
    display: flex;
    flex-flow: row;
}
.para{
    flex: auto;
}
.box{
    width: 5%;
    height: 10%;
}
